<!--Main Navigation-->
<header class="intro-header">

    <!--Intro Section-->
    <section class="view intro-2">
      <div class="full-bg-img mask rgba-gradient">
        <div class="container flex-center">
          <div class="d-flex align-items-center content-height w-100">
            <div class="row flex-center pt-4 mt-3 w-100">
              <!-- <div class="col-md-6 text-center text-md-left mb-5">
                
                <div class="white-text">
                  <div class="panel panel-default mybackground">
                    <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Task Planner CE</h2>

                  </div>
                  <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                  <div class="panel panel-default mybackground">
                    <h6 class="wow fadeInLeft" data-wow-delay="0.3s">TaskPlanner CE as an option for all students of the CE career so that they have control of their tasks either individually or together.</h6>

                  </div>
                  <br>

                </div>
              </div> -->

              <div class="col-md-6 col-xl-5 offset-xl-1">
                <!--Form-->
                <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                  <mdb-card-body>
                    <!--Header-->
                    <div class="text-center">

                      <div class="panel panel-default">
                        <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Task Planner CE</h2>
    
                      </div>

                      <h3 class="white-text">
                        <mdb-icon fas icon="user" class="text-black"> </mdb-icon> </h3>
                      <hr class="hr-light">
                    </div>
                    <!--Body-->
                    <mdb-icon fas icon="user" class="text-white active"></mdb-icon>
                    <div class="md-form">
                      <input type="text" id="form3" class="text-white form-control" [(ngModel)]=model.name mdbInput>
                      <label for="form3" class="text-white">Username</label>
                    </div>

                    <mdb-icon fas icon="lock" class="text-white active"></mdb-icon>
                    <div class="md-form">
                      <input type="password" id="form4" class="text-white form-control" [(ngModel)]=model.password mdbInput>
                      <label for="form4" class="text-white">Password</label>
                    </div>

                    <div class="text-center mt-4">
                      <button mdbBtn color="indigo" (click)="validation()" mdbWavesEffect>Log In</button>
                     <hr class="hr-light mb-3 mt-4">

                      <!--begin-->
                      <!-- <div class="wrap">
                            <form action="" class="formulario">
                                <div class="radio row">

                                  <div class="col 2" >
                                    <input type="radio" name="tipocuenta" id="student"
                                    (click) = "functionStudent()">
                                    <label for="hombre">Student</label>
                                    </div>

                                    <div class="col 2" >
                                    <input type="radio" name="tipocuenta" id="deportista"
                                    (click) = "functionTeacher()">
                                    <label for="hombre">Teacher</label>
                                    </div>
                                    
                                    <div class="col 2" >
                                    <input type="radio" name="tipocuenta" id="administrador" 
                                    (click) = "functionAdministrator()">
                                    <label for="mujer">Administrator</label>
                                    </div>
                                    
                                </div>
                            </form>
                        </div> -->
                      <!--end-->
                      <hr class="hr-light mb-3 mt-4">
                      <div class="inline-ul text-center d-flex justify-content-center">
                        <button type="button" class="btn btn-info"  (click)="gotoSignup()" mdbWavesEffect>Sign up</button>
                      </div>
                    </div>
                  </mdb-card-body>
                </mdb-card>
                <!--/.Form-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    

  </header>
  <!--Main Navigation-->