.view {
    height: auto !important;
    width: 50%;
    margin: auto;
  }

  .margintopbot{
    margin-top: 40px;
    margin-bottom: 40px;
  }


  .color1{
    color:#174bb1
  }


  .bg-custom-2 {
    background-image: linear-gradient(15deg, #1ee28f 0%, #1ee28f 100%);
    }
    
  