<header class="navbar navbar-dark bg-custom-2">

	

		<a class="navbar-brand color1" href="#a">TASKPLANNER CE</a>
	  <a class="navbar-brand color1"  (click)="gotoDashboard()">Dashboard</a>
    <a class="navbar-brand color1"  (click)="gotoBoards()">Boards</a>
    <a class="navbar-brand color1"  (click)="gotoFriends()">Friends</a>
		<a class="navbar-brand color1"  (click)="gotoLogin()">Log Out</a>

	

</header>
<!-- End of masthead -->






  
  
  
  

    <main >

      
    <!-- Lists container -->
<section class="lists-container ">

	<div class="list">

		<h3 class="list-title">Tasks to Do</h3>

		<ul class="list-items">
			<li>Complete mock-up for client website</li>
			<li>Email mock-up to client for feedback</li>
			<li>Update personal website header background image</li>
			<li>Update personal website heading fonts</li>
			<li>Add google map to personal website</li>
			<li>Begin draft of CSS Grid article</li>
			<li>Read new CSS-Tricks articles</li>
			<li>Read new Smashing Magazine articles</li>
			<li>Read other bookmarked articles</li>
			<li>Look through portfolios to gather inspiration</li>
			<li>Create something cool for CodePen</li>
			<li>Post latest CodePen work on Twitter</li>
			<li>Listen to new Syntax.fm episode</li>
			<li>Listen to new CodePen Radio episode</li>
		</ul>

		<button class="add-card-btn btn">Add a card</button>

	</div>

	<div class="list">

		<h3 class="list-title">Completed Tasks</h3>

		<ul class="list-items">
			<li>Clear email inbox</li>
			<li>Finalise requirements for client web design</li>
			<li>Begin work on mock-up for client website</li>
		</ul>

		<button class="add-card-btn btn">Add a card</button>

	</div>


	<button class="add-list-btn btn">Add a list</button>

</section>

       


</main>

    <aside class="column aside">

      <div class="panel panel-default mybackgroundblue" style="text-align: center;">

        Collaboration

        <mdb-card class="example-1 square scrollbar-cyan bordered-cyan">
          
          <mdb-card-body>

            <table class="table">
              <thead>
                <tr>
                 
                </tr>
              </thead>
  
              <tbody>
  
                <tr class="table-primary" *ngFor="let p of people;let i = index;">
                  <td>{{p.mail}}</td>
                  <td>

                    <button type="button" class="btn btn-dark btn-floating">
                      <i class="fas fa-plus-circle"></i>
                    </button>

                  </td>
                </tr>
                
              </tbody>
            </table>
            
            
          </mdb-card-body>
        </mdb-card>

        Professors

        <mdb-card class="example-1 square scrollbar-cyan bordered-cyan">
          
          <mdb-card-body>

            <table class="table">
              <thead>
                <tr>
                 
                </tr>
              </thead>
  
              <tbody>
  
                <tr class="table-primary" *ngFor="let p of people;let i = index;">
                  <td>{{p.mail}}</td>
                  <td>

                    <button type="button" class="btn btn-dark btn-floating">
                      <i class="fas fa-plus-circle"></i>
                    </button>

                  </td>
                </tr>
                
              </tbody>
            </table>
            
            
          </mdb-card-body>
        </mdb-card>

        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

          <button type="button" class="btn btn-primary bgbtn marginsTopb">Add professor</button>
          <button type="button" class="btn btn-primary bgbtn marginsTopb">Add friend</button>
          <button type="button" class="btn btn-primary bgbtn marginsTopb">Add file</button>

        </div>




      </div>

    </aside>

    

  




