.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #1ee28f 0%, #1ee28f 100%);
}

.color1{
  color:#174bb1
}

.mybackgroundblue{

  background-color: #174BB1;
}


.marginsTop{
  margin-top: 30px;
  margin-bottom: 30px;
}


.mybackground{
  background-color: rgba(17, 17, 17, 0.616);
}


.marginsLeft{
  margin-left: 30px;
}

.marginsTop2{
  margin-top: 30px;
}